body {
    text-align: center;
    font-size: 18px;
    background-color: #001C3F; /* Azul escuro do PSG */
    color: #FFFFFF;            /* Texto em branco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: #DA291C;            /* Vermelho nos títulos */
}

p {
    line-height: 1.6;
}

nav a {
    font-size: 20px;
    color: #DA291C;            /* Links em vermelho */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}