body {
    text-align: center;
    font-size: 18px;
    background-color: #00e1ff; 
    color: #000000;            
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: #FFFFFF;            
    background-color: #00eaff; 
    padding: 10px;
    border-radius: 5px;
}

p {
    line-height: 1.6;
}

nav a {
    font-size: 20px;
    color: #00838F;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}